### to use tfvars copy this file and remove .example from copied file name
### tfvars_key_definition_rule => format:{resource_name}_{argument}

## database authentication
aws_db_instance_username = ""
aws_db_instance_password = ""


## aws_db_instance.db_identifer
aws_db_instance_identifier = ""


## ec2 authenticate key_name 
aws_key_pair_key_name = ""


## ec2 ami, amazon linux 2023
aws_instance_ami = ""
